@page "/products"


<PageTitle>Products</PageTitle>

<h1>Products</h1>
<div class="d-flex flex-row justify-content-between">
    @foreach (var product in _products)
    {
        <div class="card" style="width: 18rem;">
            <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <p class="card-text">Price: @product.Price</p>
                <p class="card-text">Category: @product.Category.Name</p>
            </div>
        </div>
    }
</div>

@code {
    private List<Product> _products = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(200);
        _products.Add(
        new Product(
        1,
        "Laptop",
        "Laptop description",
        "https://via.placeholder.com/150",
        1000M,
        new Category(1, "Electronics", "Electronics products")
        ));
        _products.Add(
        new Product(
        2,
        "Mouse",
        "Mouse description",
        "https://via.placeholder.com/150",
        20M,
        new Category(1, "Electronics", "Electronics products")
        ));
        _products.Add(new Product(
        3,
        "Keyboard",
        "Keyboard description",
        "https://via.placeholder.com/150",
        50M,
        new Category(1, "Electronics", "Electronics products")
        ));
    }

}